# Dependencies
node_modules/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Environments
.env
.venv
env/
venv/
ENV/

# Data files
*.csv
*.dat
*.sqlite3
*.db

# macOS
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~
